@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    height:100px;
    background-color:#cbd5e1;
    display:flex;
    color:black;
    align-items:center;
    justify-content:space-between;
    padding:1.2rem;
    position:fixed;
    width:100%;
    z-index:100;
}
.scrolled{
    background-color: black;
}
.scrolled a{
    color:white;
}
.scrolled .logo i{
    color: blueviolet;
}
.scrolled a.active{
    background-color: blueviolet;
}
.scrolled a:hover{
    background-color: blueviolet;
    color:white;
    cursor:pointer;
}
.scrolled .logo p{
    color:white;
}
nav .logo{
    font-size:2rem;
}
nav ul{
    display:flex;
}
nav ul li{
    list-style:none;
    margin:0 25px;
}
nav ul li a{
    color:black;
    text-decoration:none;
    padding:8px 10px;
}
a{
    text-decoration: none;
}
nav ul li a:hover,nav ul li a.active{
    background-color:blueviolet;
    border-radius:5px;
    color:white;
    background-size: contain;
}
nav .menu-btn i{
    font-size:22px;
    cursor:pointer;
    display:none;
}
#click{
    display: none;
}
@media (max-width:940px){
    nav{
        z-index:100;
    }
    nav ul{
        position:fixed;
        left:-100%;
        top:80px;
        height:100vh;
        background-color:black;
        display:block;
        width:100%;
        text-align:center;
        transition: all .3s ease;
        z-index:100;
    }
    nav ul li{
        margin-top:40px;
    }
    nav ul li a{
        font-size:22px;
        display:block;
        color:violet;
    }
    nav ul li a:hover,nav ul li a.active{
        background:none;
        color:violet;
    }
    nav .menu-btn i{
        display:block;
        font-size:30px;
    }
    #click:checked~ul{
        left:0;
    }
    #click:checked~ .menu-btn i:before{
        content:"\f00d";
    }
}
.logo{
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo i{
    font-size:3.5rem;
}
a{
    text-decoration: none;
    color:white;
}
.first{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    /* padding:20px; */
    background-color: rgb(30, 29, 29);
    height:100vh;
}
.left{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    width:42%;
}
#firstbtn{
    padding:10px;
    border-radius:50px;
    background-color:grey;
    color:white;
    font-weight:bolder;
    font-size:large;
    position:relative;
    bottom:60px;
    left:-60px;
}
.left h1{
    color:white;
    font-weight:bolder;
    font-size:2rem;
    position:relative;
    bottom:30px;
    width:100%;
}
.left p{
    color:white;
    font-size:1.3rem;
}
#talkbutton{
    position:relative;
    left:-10%;
    top:20px;
    padding:15px;
    font-size:1.5rem;
    background-color: blueviolet;
    color:white;
    width:40%;
    border-radius:10px;
    outline:none;
    width: fit-content;
    transition: ease-in;
    transition-duration: 200ms;
}
#talkbutton:hover{
    padding:20px;
    cursor:pointer;
    font-size:1.8rem;
}
.right img{
    border-radius:30px;
}
.second{
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.69)),url('./about2.avif');
    background-repeat: no-repeat;
    background-size:100% , cover;
    height:90vh;
    display: grid;
    place-items: center;
}
.second p{
    color:white;
    width:80%;
    font-size:2rem;
}
.third{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width:100%;
    background-color: aliceblue;
    height:180vh;
}
.third h1{
    font-size:3rem;
    color:#1f242d;
}
.box{
    display:flex;
    /* justify-content: space-between; */
    position:relative;
    top:10px;
    gap:15px;
    width:60%;
}
.box h2{
    font-size:1.8rem;
    background-color:blueviolet;
    padding:33px;
    border-radius:100%;
    color:white;
    font-weight:bolder;
    text-align:center;
    margin-left:-4%;
    width:30%;
}
.box p{
    background-color: rgb(201, 13, 243);
    color:white;
    border-radius:10px;
    margin-left:10%;
    padding:33px;
    font-size:1.3rem;
    font-weight:bold;
    text-align:center;
    width:100%;
}
.box2 h2{
    margin-left:5%;
}
.box2 p{
    margin-left:-4%;
    background-color: rgba(13, 13, 233, 0.874);
}
.box3 p{
    background-color: mediumseagreen;
}
.box3 h2{
    background-color: #f15162;
}
.fourth{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height:100vh;
    width:100%;
    background-color: azure;
}
.fourth h1{
    color:#163a48;
    font-size:2.8rem;
}
.cards{
    display:flex;
}
.cd img{
    width:90%;
}
.cd:hover{
    cursor:pointer;
}
.fifth{
    background-color:aliceblue;
    height:60vh;
    width:100%;
}
@media (min-width:360px) and (max-width:740px){
    #firstbtn{
        display:none;
    }
    .first{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items:center;
        width:100%;
        height:auto;
    }
    .first .left{
        width:100%;
    }
    .first .left h1{
        margin-top:45%;
        padding:5px;
        font-size:2.3rem;
        width:70%;
    }
    .first .left p{
        width:70%;
        font-size:1.5rem;
        margin-bottom:5%;
    }
    #talkbutton{
        position:relative;
        top:30%;
        margin-bottom:5%;
    }
    .first .right img{
        position:relative;
        top:30%;
        height:30vh;
        width:70%;
        left:10%;
        border-radius: 5px;
    }
    .second {
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)),
                    url('./about2.avif');
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        display: grid;
        place-items: center;
        background-position: center;
    }
    
    .second p{
        font-size:1rem;
        padding:10px;
        text-align: center;
    }
    .third{
        height:auto;
        /* margin-top:0%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .third h1{
        font-size:2.5rem;
        padding:50px 50px 0px 50px;
    }
    .third .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .third .box h2{
        width:100%;
    }
    .third .box p{
        width:100%;
        margin-left:-4%;
    }
    .third .box2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center;
    }
    .fourth{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        margin-top:150%;
        height:130vh;
    }
    .fourth h1{
        font-size:1.5rem;
        margin-top:-110%;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cd{
        margin-bottom:20%;
    }
    .fourth .cards .cd img{
        height:40vh;
        width:90%;
        margin-bottom:-20%;
    }
    .fifth{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
    }
    .fifth .section1{
        margin-top:10%;
        width:50%;
    }
    .fifth .section2,.fifth .section3{
        width:50%;
        margin-top:-10%;
    }
    .fifth .section4{
        width:100%;
        margin-top:-10%;
        margin-right:10%;
    }
    .section4 .btns{
        width:100%;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    .section4 .btns #playstore{
        width:80%;
        padding:-10px;
    }
    .play2 p{
        text-align: center;
    }
}
.fifth{
    display:flex;
    height:auto;
    width:100%;
    padding:30px;
    color:white;
    background-color: #483a64;
    gap:125px;
}
.section1{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:35%;
    margin-top:-5%;
}
.circle,.fifthicons{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    gap:12px;
}
.fifthicons:hover{
    cursor:pointer;
}
.section2,.section3{
    width:21%;
}
.section2 a , .section3 a{
    display:block;
    text-indent: -1em;
    padding-left: 1em;
}
.section2 a:hover,.section3 a:hover{
    text-decoration: underline;
}
.section4{
    width:25%;
}
#playstore{
    padding:18px 20px;
    background-color: #f15162;
    color:white;
    font-weight:bolder;
    border-radius: 5px;
    width:50%;
}
.btns{
    display:flex;
    gap:5px;
}
#playstore:hover{
    cursor:pointer;
}


.hiddenEleLeft{
    opacity:0;
    transform:translateX(-100%);
    transition: all 1.5s;
}
.hiddenEleRight{
    opacity:0;
    transform:translateX(100%);
    transition: all 1.5s;
}
.showEle{
    opacity:1;
    transform: translateX(0);
}
.hiddenEle:nth-child(2){
    transition-delay: 100ms;
}
.hiddenEle:nth-child(3){
    transition-delay: 200ms;
}
.hiddenEle:nth-child(4){
    transition-delay: 300ms;
}

.animate-bounce {
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
