@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Courier New', Courier, monospace;
    }

    .chat {
        padding: 15px;
        border: none;
        border-radius: 50%;
        background-color: blueviolet;
        cursor: pointer;
        /* position:absolute; */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        padding: 30px 0;
        height: auto;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 3% 20%;
        visibility: hidden;
    }

    .container h1 {
        font-size: 1.5rem;
        border-right: 2px solid black;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 10s steps(31, end) infinite forwards;
        width: 0;
    }

    @keyframes typing {
        0% {
            width: 0;
        }

        50% {
            width: 90%;
        }
    }

    input[type="text"] {
        padding: 10px 15px;
        width: 50%;
        border-radius: 5px;
        border: 2px solid grey;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    .send {
        padding: 12px 10px;
        width: 40%;
        border-radius: 5px;
        background-color: #e74c3c;
        border: none;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        cursor: pointer;
    }

    .close {
        visibility: hidden;
        padding: 15px;
        border: none;
        border-radius: 50%;
        background-color: blueviolet;
        cursor: pointer;
    }
    @media(max-width:740px){
        .container {
            
            width: 90%;
            
        }
    }