    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.menu{
    
    cursor: pointer;
}

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #e20bfe;;
        margin: 6px 0;
        transition: 0.4s;
    }

    body {
    font-family: 'Lato', sans-serif;
    }

    .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    }

    .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    }

    .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #e20bfe;;
    display: block;
    transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    }

    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    }

    @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

    .hidden-heading {
        visibility: hidden;
    }
.nav-transparent{
    background-color: transparent;
}
.nav-colored{
    background-color: slategray;
}

/* footer */

.fifth{
    background-color:aliceblue;
    height:60vh;
    width:100%;
}   
.fifth{
    display:flex;
    height:auto;
    width:100%;
    padding:30px;
    color:white;
    background-color: #483a64;
    gap:125px;
}
.section1{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:35%;
    margin-top:-5%;
}
.circle,.fifthicons{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    gap:12px;
}
.fifthicons:hover{
    cursor:pointer;
}
.section2,.section3{
    width:21%;
}
.section2 a , .section3 a{
    display:block;
    margin-top: 16px;
    text-indent: -1em;
    padding-left: 1em;
}
.section2 a:hover,.section3 a:hover{
    text-decoration: underline;
}
.section4{
    width:25%;
    
}
#playstore{
    padding:18px 20px;
    background-color: #f15162;
    color:white;
    font-weight:bolder;
    border-radius: 5px;
    
}
.btns{
    display: flex;
    flex-direction: column;
    gap:5px;
    width:200px;
}
#playstore:hover{
    cursor:pointer;
}

@media (min-width:360px) and (max-width:768px){
.fifth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.fifth .section1{
    margin-top:10%;
    width:70%;
}
.fifth .section2,.fifth .section3{
    width:80%;
    margin-top:-10%;
}
.fifth .section4{
    width:100%;
    margin-top:-10%;
    margin-right:10%;
}
.section4 .btns{
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.section4 .btns #playstore{
    max-width: fit-content;
    width:80%;
    margin-top: 16px;
    padding:-10px;
}
.play2 p{
    text-align: center;
}
}

.hiddenEle{
    opacity:0;
    transform:translateX(-100%);
    transition: all 1s;
    transition-delay: 50ms;
}
.showEle{
    opacity:1;
    transform:translateX(0);
}
.popUp{
    
    opacity:0;
    transform:translateY(30%);
    transition: all 1s;
    transition-delay: 50ms;
}
.popShow{
    opacity:1;
    transform:translateY(0);
    filter:blur(0);
}
