
        *{
          scroll-behavior: smooth;
        }
        .menu{
          
          cursor: pointer;
        }
        
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          background-color: #333;
          margin: 6px 0;
          transition: 0.4s;
        }
        
        .change .bar1 {
          transform: translate(0, 11px) rotate(-45deg);
        }
        
        .change .bar2 {opacity: 0;}
        
        .change .bar3 {
          transform: translate(0, -11px) rotate(45deg);
        }

        /* .hero{
          position: relative;
          overflow: hidden;
        }
        .content{
          position: absolute;
          transform: translateX(100%);
          
        }
        #content1{
          transform: translateX(0px);
        } */

        .cureBlocks{
          background-color: rgb(255, 225, 241);
          border: 1px solid black;
          border-radius: 12px;
          padding: 10px;
          margin: 10px auto;
      }
    .collapsible {
        border-radius: 12px;
        background-color: rgb(255, 225, 241);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
      background-color: rgb(251, 202, 227);
    }

    .content {
      padding: 0 18px;
      
      display: none;
      overflow: hidden;
      background-color: rgb(255, 225, 241);
      
    }
    .content li{
        border:0;
        padding: 10px;
        margin:10px;
        
        border-radius: 12px;
        
        background-color: rgb(251, 202, 227);
        list-style-type: none;
      }
         /* Search  */
         #myInput {
          background-image: url('/css/searchicon.png');
          background-position: 10px 12px;
          background-repeat: no-repeat;
          margin: 20px auto;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #7e7e7e;
          border-radius: 5px;
          display: flex;
          justify-content: center;
        }
        
        .slide{
          opacity:0;
          filter: blur(5px);
          font-size: 10px;
          
          transition: all 1s;
        }
        .show{
          opacity:1;
          filter:blur(0);
          transform:translateX(0);
          font-size: 100px;
        }
